{% extends "base.html" %}

{% block content %}
<h1>Daftar Mahasiswa dengan KRS yang Sudah Dinilai</h1>

<form action="{% url 'khs' %}" method="GET">
    <div class="box-container">
        <div class="box">
            <input form-check-input type="radio" name="jurusan" value="" id="semua_jurusan"
            {% if not request.GET.jurusan %} checked{% endif %}>
            <label form-check-label for="semua_jurusan">Semua Jurusan</label>
        </div>
    
    
        <div class="box">
            <input form-check-input type="radio" name="jurusan" value="Teknologi Informasi" id="Teknologi Informasi" 
            {% if request.GET.jurusan == 'Teknologi Informasi' %} checked{% endif %}>
            <label form-check-label for="Teknologi Informasi">Teknologi Informasi</label>
        </div>
    
        <div class="box">
            <input form-check-input type="radio" name="jurusan" value="Akuntansi" id="Akuntansi" 
            {% if request.GET.jurusan == 'Akuntansi' %} checked{% endif %}>
            <label form-check-label for="Akuntansi">Akuntansi</label>
        </div>
    
        <div class="box">
            <input form-check-input type="radio" name="jurusan" value="Mekatronika" id="Mekatronika"
            {% if request.GET.jurusan == 'Mekatronika' %} checked{% endif %}>
            <label form-check-label for="Mekatronika">Mekatronika</label>
        </div>
    
        <div class="box">
            <input form-check-input type="radio" name="jurusan" value="Teknik Elektro" id="Teknik Elektro"
            {% if request.GET.jurusan == 'Teknik Elektro' %} checked{% endif %}>
            <label form-check-label for="Teknik Elektro">Teknik Elektro</label>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-between mt-2 mb-2">Submit <ion-icon name="arrow-forward-outline"></ion-icon> </button>
    </form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>JK</th>
            <th>Angkatan</th>
            <th>Jumlah KRS</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for krs in krs_dinilai %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ krs.mahasiswa.nim }}</td>
                <td>{{ krs.mahasiswa.nama }}</td>
                <td>{{ krs.mahasiswa.jk }}</td>
                <td>{{ krs.mahasiswa.angkatan }}</td>
                <td>{{ krs.mahasiswa.krs_set.count }}</td>
                <td><a href="{% url 'khs_detail' krs.mahasiswa.nim %}">Lihat KHS</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
