{% extends "base.html" %} {% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            {% comment %} <div class="form-group">
              {{ form.nama.label_tag }}
              {{ form.nama }}
            </div> {% endcomment %}
            <div class="form-group">
              {{ form.tanggal_mulai.label_tag }}
              {{ form.tanggal_mulai }}
            </div>
            <div class="form-group">
              {{ form.lama_cuti.label_tag }}
              {{ form.lama_cuti }}
            </div>
            <div class="form-group">
              {{ form.keterangan.label_tag }}
              {{ form.keterangan }}
            </div>
            <div class="form-group">
              {{ form.status_cuti.label_tag }}
              {{ form.status_cuti }}
            </div>
            <div class="form-group">
              {{ form.syarat_cuti.label_tag }}
              {{ form.syarat_cuti }}
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
    </form>
</div>
    <a href="{% url 'cuti' %}">Kembali ke Daftar Pengajuan Cuti</a>

{% endblock content %}