{% extends 'base.html' %}

{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Absensi Mahasiswa dan Dosen</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="card-body">
            <div class="form-group">
                <label for="pengajar">Dosen Pengajar</label>
                <input type="text" class="form-control" id="pengajar" value="{{ mata_kuliah.nama_pengajar }}" readonly>
            </div>
            <div class="form-group">
                <label for="kelas">Kelas</label>
                <input type="text" class="form-control" id="kelas" value="{{ mata_kuliah.kelas }}" readonly>
            </div>
            <div class="form-group">
                <label for="nama_mata_kuliah">Mata Kuliah</label>
                <input type="text" class="form-control" id="nama_mata_kuliah" value="{{ mata_kuliah.nama_mata_kuliah }}" readonly>
            </div>
            <div class="form-group">
                <label for="tipe">Status Pertemuan</label>
                <input type="text" class="form-control" id="tipe" value="{{ mata_kuliah.tipe }}" readonly>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Mahasiswa</th>
                            <th>Nama Dosen</th>
                            <th>NIM</th>
                            <th>Angkatan</th>
                            <th>Mata Kuliah</th>    
                            <th>Kehadiran</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                        <tr>
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ form.initial.mahasiswa }} {{ form.mahasiswa }}</td>
                                <td>{{ form.initial.dosen }} {{ form.dosen }}</td>
                                <td>{{ form.initial.nim_mhs }}</td>
                                <td>{{ form.initial.angkatan }}</td>
                                <td>{{ form.initial.mata_kuliah }} {{ form.mata_kuliah }}</td>
                                <td>{{ form.kehadiran }}</td>
                              </tr>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</div>

  {% if formset.non_form_errors %}
    <div class="error">
      {% for error in formset.non_form_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for form in formset %}
    {% if form.errors %}
      <div class="error">
        {% for error in form.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  
  <a href="{% url 'absen' %}">Kembali ke Daftar Absen</a>
{% endblock %}