{% extends "base.html" %}
{% block content %}

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Absensi Mahasiswa dan Dosen</h3>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        {{ form.initial.dosen }}
      </div>
      <div class="form-group">
        {{ form.initial.mahasiswa }}
      </div>
      <div class="form-group">
        {{ form.initial.mata_kuliah }}
      </div>
      <div class="form-group">
        <label for="pengajar">Dosen Pengajar</label>
        <input type="text" class="form-control" id="pengajar" value="{{ mata_kuliah.nama_pengajar }}" readonly>
      </div>
      <div class="form-group">
        <label for="kelas">Kelas</label>
        <input type="text" class="form-control" id="kelas" value="{{ mata_kuliah.kelas }}" readonly>
      </div>
      <div class="form-group">
        <label for="nama_mata_kuliah">Mata Kuliah</label>
        <input type="text" class="form-control" id="nama_mata_kuliah" value="{{ mata_kuliah.nama_mata_kuliah }}" readonly>
      </div>
      <div class="form-group">
        <label for="tipe">Status Pertemuan</label>
        <input type="text" class="form-control" id="tipe" value="{{ mata_kuliah.tipe }}" readonly>
      </div>
      <div class="form-group">
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
              {{ error }}
          {% endfor %}
        {% endfor %}
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Mahasiswa</th>
              <th>NIM</th>
              <th>Angkatan</th>
              <th>Kehadiran</th>
            </tr>
          </thead>
          <tbody>
            {% for form in forms %}
            <tr>
              {% for error in form.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
              <td>{{ forloop.counter }}</td>
              <td>{{ form.mahasiswa }}</td>
              <td>{{ form.mahasiswa.nim }}</td>
              <td>{{ form.mahasiswa.angkatan }}</td>
              <td>
                {{ form.kehadiran }}
              </td>
            </tr>
            {% endfor %}
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>
</div>

{% for mhs in mahasiswa_mengambil %}
  {{ mhs.mahasiswa.nama }}
{% endfor %}

{% endblock content %}
