{% extends "base.html" %} {% block content %}

{% if mahasiswa %}
  <a href="{% url 'view_krs' %}">View KRS</a>

  <div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Tambah MataKuliah ke KRS</h3>
    </div>
    <p>NIM: {{ mahasiswa.nim}}</p>
    <p>Nama: {{ mahasiswa.nama }}</p>
    <p>Prodi: {{ mahasiswa.jurusan }}</p>
    <p>Semester: {{ mahasiswa.semester }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
              {{ form.mahasiswa }}
              
            </div>
            <div class="form-group">
              <table class="table">
                  <thead>
                      <tr>
                        <th>Kode Mata Kuliah</th>
                          <th>Mata Kuliah</th>
                          <th>SKS</th>
                          <th>Pengajar</th>
                          <th>Kuota</th>
                          <th>Pilih</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for mata_kuliah in form.mata_kuliah.field.queryset %}
                      <tr>
                            <td>{{ mata_kuliah.kode_mata_kuliah }}</td>
                          <td>{{ mata_kuliah.nama_mata_kuliah }}</td>
                          <td>{{ mata_kuliah.jumlah_sks }}</td>
                          <td>{{ mata_kuliah.nama_pengajar }}</td>
                          <td>{{ mata_kuliah.kuota }}</td>
                          <td>
                            <input type="checkbox" name="mata_kuliah" value="{{ mata_kuliah.id }}" class="form-check-input">
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>         
            
            <div class="form-group">
              {{ form.status }}
            </div>
            
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
    </form>
</div>
{% else %}
    <p>Anda belum terdaftar sebagai mahasiswa.</p>
{% endif %}

{% endblock content %}
