{% extends "base.html" %}
{% block content %}

<h2>Daftar KRS </h2>

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Nim</th>
            <th>Nama</th>
            <th>Tempat/Tanggal Lahir</th>
            <th>Angkatan</th>
            <th>JK</th>
            <th>Agama</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for krs in krs_list %}
        <tr data-url="{% url 'konfirmasi_krs' krs.id %}" style="cursor: pointer;">
            <td>{{ forloop.counter }}</td>
            <td>{{ krs.mahasiswa.nim }}</td>
            <td>{{ krs.mahasiswa.nama}}</td>
            <td>{{ krs.mahasiswa.tempat_lahir }}/{{ krs.mahasiswa.tanggal_lahir }}</td>
            <td>{{ krs.mahasiswa.angkatan}}</td>
            <td>{{ krs.mahasiswa.jk}}</td>
            <td>{{ krs.mahasiswa.agama}}</td>
            <td>{{ krs.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.querySelectorAll('[data-url]').forEach(item => {
        item.addEventListener('click', event => {
            window.location.href = event.currentTarget.getAttribute('data-url');
        });
    });
</script>

{% endblock content %}
