{% extends "base.html" %} {% block content %}

<style>
    .green-background {
        background-color: green;
    }

    .red-background {
        background-color: red;
    }

    tbody td {
        vertical-align: middle;
        text-align: center;
    }

</style>


    <!-- Add this block to display messages -->
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- End of messages block -->

<h1>Daftar {{ title }}</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr data-widget="expandable-table" aria-expanded="false">
                <th>Foto</th>
                <th>NIM</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Tempat Lahir</th>
                <th>Tanggal Lahir</th>
                <th>Angkatan</th>
                <th>Semester</th>
                <th>status</th>
                <th>Beasiswa</th>
                <th><ion-icon name="pencil-outline"></ion-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for mahasiswa in mahasiswa_list %}
            <tr>
                <td><img id="foto_tbl" src="/images/{{ mahasiswa.foto }}" alt="{{ mahasiswa.nama }}"></td>
                <td>{{ mahasiswa.nim }}</td>
                <td>{{ mahasiswa.nama }}</td>
                <td>{{ mahasiswa.jk }}</td>
                <td>{{ mahasiswa.tempat_lahir }}</td>
                <td>{{ mahasiswa.tanggal_lahir }}</td>
                <td>{{ mahasiswa.angkatan }}</td>
                <td>{{ mahasiswa.semester }}</td>
                <td class="{% if mahasiswa.status == 'Aktif' %}green-background{% else %}red-background{% endif %}"><strong>{{ mahasiswa.status }}</strong></td>
                <td>{{ mahasiswa.beasiswa }}</td>
                <td>
                    <a href="{% url 'detail_mahasiswa' mahasiswa.pk %}" class="btn btn-secondary"><i class="fas fa-folder-open"></i></a>
                    <a href="{% url 'edit_mahasiswa' mahasiswa.pk %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a href="#" class="hapus-mahasiswa-link btn btn-danger" data-pk="{{ mahasiswa.pk }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tambah_mahasiswa' %}" class="add-button">
        <ion-icon name="add-circle-outline"></ion-icon>
    </a>

    <!-- Bootstrap Modal untuk konfirmasi hapus -->
    <div class="modal fade" id="hapusMahasiswaModal" tabindex="-1" role="dialog" aria-labelledby="hapusMahasiswaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hapusMahasiswaModalLabel">Konfirmasi Hapus Mahasiswa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anda yakin ingin menghapus Mahasiswa ini?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-danger" id="hapusMahasiswaButton">Hapus</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Tambahkan JavaScript untuk menampilkan modal konfirmasi hapus saat tombol hapus diklik
        const hapusMatkulLinks = document.querySelectorAll('.hapus-mahasiswa-link');
        const hapusMatkulModal = document.getElementById('hapusMahasiswaModal');
        const hapusMatkulButton = document.getElementById('hapusMahasiswaButton');

        hapusMatkulLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const pk = this.getAttribute('data-pk');
                hapusMatkulButton.setAttribute('data-pk', pk);
                $('#hapusMahasiswaModal').modal('show');
            });
        });

        hapusMatkulButton.addEventListener('click', function () {
            const pk = this.getAttribute('data-pk');
            const form = document.createElement('form');
            form.method = 'post';
            form.action = `{% url 'hapus_mahasiswa' 0 %}`.replace('0', pk);
            const csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';
            form.appendChild(csrfToken);
            document.body.appendChild(form);
            form.submit();
        });

        //untuk table
(function() {
	'use strict';

var TableFilter = (function() {
 var Arr = Array.prototype;
		var input;
  
		function onInputEvent(e) {
			input = e.target;
			var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
			Arr.forEach.call(table1, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, filter);
				});
			});
		}

		function filter(row) {
			var text = row.textContent.toLowerCase();
       //console.log(text);
      var val = input.value.toLowerCase();
      //console.log(val);
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = onInputEvent;
				});
			}
		};
 
	})();

  console.log(document.readyState);
	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
      console.log(document.readyState);
			TableFilter.init();
		}
	});
  
 TableFilter.init(); 
})();
    </script>
</body>

{% endblock content %}
