{% extends "base.html" %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Inpit Nilai</h3>
    </div>
    <p>Nama :{{ krs.mahasiswa }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <table class="table">
            <thead>
                <tr>
                    <th>Mata Kuliah</th>
                    <th>Nilai</th>
                </tr>
            </thead>
            <tbody>
                {% for item in nilai_formset %}
                    <tr>
                        <td>{{ item.mata_kuliah }}</td>
                        <td>
                            <select name="{{ item.mata_kuliah }}">
                                <option value="" selected disabled>Pilih Nilai</option>
                                <option value="A">A</option>
                                <option value="AB">AB</option>
                                <option value="B">B</option>
                                <option value="BC">BC</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                            </select>
                        </td>
                        
                        
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Simpan Nilai</button>
        </div>
    </form>
</div>
{% endblock content %}
