{% extends "base.html" %} {% block content %}

<h1>Daftar Mata Kuliah</h1>
    <table>
        <thead>
            <tr>
                <th>Kode Mata Kuliah</th>
                <th>Nama Mata Kuliah</th>
                <th>Jumlah SKS</th>
                <th>Program Studi</th>
                <th>Kelas</th>
                <th>Nama Pengajar</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for mata_kuliah in mata_kuliah_list %}
            <tr>
                <td>{{ mata_kuliah.kode_mata_kuliah }}</td>
                <td>{{ mata_kuliah.nama_mata_kuliah }}</td>
                <td>{{ mata_kuliah.jumlah_sks }}</td>
                <td>{{ mata_kuliah.program_studi }}</td>
                <td>{{ mata_kuliah.kelas }}</td>
                <td>{{ mata_kuliah.nama_pengajar }}</td>
                <td>
                    <a href="{% url 'edit_mata_kuliah' mata_kuliah.pk %}">Edit</a> |
                    <a href="{% url 'hapus_mata_kuliah' mata_kuliah.pk %}">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tambah_mata_kuliah' %}">Tambah Mata Kuliah</a>
</body>

{% endblock content %}
