{% extends "base.html" %} {% block content %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Tambah MataKuliah</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group">
              {{ form.kode_mata_kuliah.label_tag }}
              {{ form.kode_mata_kuliah }}
            </div>
            <div class="form-group">
              {{ form.nama_mata_kuliah.label_tag }}
              {{ form.nama_mata_kuliah }}
            </div>
            <div class="form-group">
              {{ form.jumlah_sks.label_tag }}
              {{ form.jumlah_sks }}
            </div>
            <div class="form-group">
              <label for="{{ form.program_studi.id_for_label }}">Program Studi</label>
              <select name="{{ form.program_studi.name }}" id="{{ form.program_studi.id_for_label }}" class="form-control">
                <option value="">Pilih Program Studi</option>
                <option value="Teknologi Informasi">Teknologi Informasi</option>
                <option value="Akuntansi">Akuntansi</option>
                <option value="Mekatronika">Mekatronika</option>
                <option value="Teknik Elektro">Teknik Elektro</option>
              </select>
            </div>
            <div class="form-group">
              {{ form.kelas.label_tag }}
              {{ form.kelas }}
            </div>
            <div class="form-group">
              <label for="{{ form.nama_pengajar.id_for_label }}">Nama Pengajar</label>
              <select name="{{ form.nama_pengajar.name }}" id="{{ form.nama_pengajar.id_for_label }}" class="form-control">
                <option value=""><p class="text-muted">---Pilih Pengajar---</p></option>
                  {% for dosen in form.fields.nama_pengajar.queryset %}
                      <option value="{{ dosen.pk }}">{{ dosen.nama }}</option>
                  {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
    </form>
</div>
    <a href="{% url 'matakuliah' %}">Kembali ke Daftar Mata Kuliah</a>

{% endblock content %}